body{
  font-family: fantasy;
  box-sizing: border-box;
  background-image: url('../images/bomberman-wallpaper-18.jpg');
  background-size: 100vw 100vh;
}

h1{
  text-align: center;
  font-size: 2.5em;
  color: cyan;
  margin: none;
  height: 50px;
}

#scoreboard{
  color: red;
  display: flex;
  justify-content: space-between;
}

#p1wins{
  color: lightgreen;
}

#p2wins{
  color: lightgreen;
}

#world div{
  width: 60px;
  height: 60px;
  position: absolute;
}

#instructions{
  color: black;
}

#world{
  display: flex;
  flex-wrap: wrap;
  border: solid;
  margin: auto;
  background-color: olivedrab;
  font-size: 1.5em;
  width: 540px;
  height: 540px;
  position: relative;
}

#play-again{
  height: 70px;
  width: 150px;
  background-color: blue;
  color: white;
  margin-left: 45%;
  margin-right: 45%;
  font-size: 1.5em;
}

#play-again:hover{
  color: cyan;
  background: grey;
  border: solid 1px;
}

.PlayerID{
  height: 50px;
  color: cyan;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.empty{
  background-image: url("../images/Bombing_Chap_Sprite_Set/Sprites/Blocks/BackgroundTile.png");
  background-size: 100%;
}

.breakable{
  background-image: url("../images/Bombing_Chap_Sprite_Set/Sprites/Blocks/ExplodableBlock.png");
  background-size: 100%;
}

.non-breakable{
  background-image: url("../images/Bombing_Chap_Sprite_Set/Sprites/Blocks/SolidBlock.png");
  background-size: 100%;
}

.player1{
  background-color: grey;
  background-image: url("../images/Bombing_Chap_Sprite_Set/Sprites/Bomberman/Front/Bman_F_f00.png");
  background-size: 100% 100%;
}

.player2{
  background-color: grey;
  background-image: url("../images/Bombing_Chap_Sprite_Set/Sprites/Creep/Front/Creep_F_f00.png");
  background-size: 100%;
}

.bomb{
  background-image: url("../images/Bombing_Chap_Sprite_Set/Sprites/Bomb/Bomb_f01.png");
  background-size: 100% 100%;
}

.flame{
  background-color: orange;
  background-image: url("../images/Bombing_Chap_Sprite_Set/Sprites/Flame/Flame_f00.png");
  background-size: 100%;
}

.bombUpgrade{
  background-image: url("../images/Bombing_Chap_Sprite_Set/Sprites/Powerups/BombPowerup.png");
  background-size: 100%;
}
